*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
html,body{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

.afterOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    /* animation: animateScreen2 4s cubic-bezier(0.19, 1, 0.22, 1) 5s both; */
}
.afterOverlay video{
    width: 100%;
    position: fixed;
    z-index: 6;
}
.mountainDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 7;
}
.mountainDiv .mounts{
    width: 100%;
    height: 120%;
    position: relative;
    overflow: hidden;
}
.mountainDiv .mounts h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    font-size: 4rem;
    letter-spacing: 2px;
    color: rgb(61, 61, 61);
    mix-blend-mode: difference;
 }
.mountainDiv .mounts #img1{
   position: absolute;
   bottom: -100px;
   right: -20px;
   z-index: 9;
   width: 100%;
   height: 600px;
}
.mountainDiv .mounts #img2{
  position: absolute;
   bottom: -100px;
   right: 0px;
   left: 0;
   z-index: 10;
   width: 100%;
}
.afterOverlay nav{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 7;
}
.afterOverlay nav h2{ 
    text-align: center;
color: rgb(77, 77, 77);
font-size: 2rem;
letter-spacing: 3px;

}
.afterOverlay nav button{ 
background-color: #fff;
width: 80px;
height: 30px;
border: none;
outline: none;
box-sizing: 0px 5px 0px 20px 1px rgba(0, 0, 0, 0.295); 
border-radius: 8px;  
cursor: pointer; 
}
